name: Laravel

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        port: 22
        script: |
          cd /var/www/be
          sudo git pull https://nurhadinata:${{ secrets.TOKEN }}@github.com/nurhadinata/laravel_batu_air.git
